# --------------------
# Miscellaneous
# --------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# --------------------
# IntelliJ / Android Studio
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# Flutter / Dart
# --------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/
**/doc/api/

# --------------------
# Android
# --------------------
android/.gradle/
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release
*.jks

# --------------------
# iOS
# --------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/.last_build_id
ios/Runner.xcworkspace/

# --------------------
# Symbolication & Obfuscation
# --------------------
app.*.symbols
app.*.map.json

# --------------------
# Environment files
# --------------------
.env
.env.*
